<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Ranklist</title>
    <link rel="stylesheet" href="status.css">
    <script src="vue.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="moment.min.js"></script>
    <script src="moment-duration-format.js"></script>
    <script src="status.js"></script>
  </head>
  <body onload="boot()">
    <div class="status" id="app">
      <transition-group name="item">
        <div class="submission" v-for="s of list" :key="s.id">
          <div class="question">{{ QUESTIONS[s.question] }}</div>
          <div class="title">{{ (teams[s.from] || {}).title }}</div>
          <div class="time">{{ s.time }}</div>
          <transition name="fade">
            <div class="detail pending" v-if="!s.resolved" key="unresolved">?</div>
            <div class="detail" v-else :class="{ accepted: s.accepted }" key="resolved">{{ s.detail }}</div>
          </transition>
        </div>
      </transition-group>
    </div>
  </body>
</html>
