body {
  padding: 60px 40px;
  margin: 0 auto;
  max-width: 1280px;

  color: rgba(0,0,0,.87);
}

.balloon-body {
  max-width: 400px;
  text-align: center;
}

.title {
  line-height: 72px;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}

.centering {
  text-align: center;
}

.title small {
  font-size: 24px;
  font-weight: normal;
  color: rgba(0,0,0,.54);
}

.balloons {
  box-sizing: border-box;

  box-shadow: rgba(0,0,0,.3) 0 4px 12px;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;

  margin-bottom: 40px;
}

.balloon {
  padding: 20px;
  padding-right: 100px;
  position: relative;
}

.subtitle {
  margin-bottom: 20px;
  min-width: 100px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  color: rgba(0,0,0,.54);
  border-bottom: rgba(0,0,0,.12) 2px solid;
}

.balloon-name {
  font-size: 24px;
  white-space: pre;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.balloon-loc {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: rgba(0,0,0,.54);
}

.balloon-action {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.balloon-action img {
  width: 40px;
  height: 40px;
  transition: opacity .2s ease;
  opacity: .54;
}

.balloon-action:hover img {
  opacity: .87;
}

.balloon {
  border-bottom: rgba(0,0,0,.12) 1px solid;
}

.balloon:last-child {
  border-bottom: 0;
}

.balloons-empty {
  font-size: 20px;
  color: rgba(0,0,0,.3);
}

/* Ranklists */

.ranklist {
  box-shadow: rgba(0,0,0,.3) 0 4px 12px;
  font-size: 12px;
}

.ranklist-row {
  display: flex;
  height: 60px;
}

.ranklist-head {
  font-weight: bold;
}

.ranklist-row > div {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ranklist-row:nth-child(2n) {
  background: rgba(0,0,0,.06);
}

.ranklist-row > div.ranklist-title {
  flex: 1;
  align-items: flex-start;
  white-space: pre;
}

.ranklist-title-zh {
  line-height: 24px;
  font-size: 18px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranklist-title-en {
  line-height: 16px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranklist-prob {
  font-weight: bold;
}

.accepted {
  text-align: center;
  color: #388E3C;
}

.accepted small {
  font-size: 10px;
  display: block;
}

.accepted small small {
  display: block;
  text-align: right;
  font-size: 6px;
}

.faulty {
  color: #D32F2F;
}

.pending {
  color: rgba(0,0,0,.54);
}

.absent {
  color: rgba(0,0,0,.3);
}
